body {
  position: relative;
  background-color: #1481cc;
  transition: background 2s;
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
  color: #e4f1fe;
}

.random-quote-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.random-quote-header {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
}

.random-quote-well {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.author-text{
  font-size: 18px;
  color: #333333;
}

.random-quote-button {
  border: 0;
  outline: 0;
  background: #cc4514;
  color: white;
  padding: 10px 30px;
  transition: background 0.5s, transform 0.3s;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
}

.random-quote-button:hover {
  background: #cc7514;
  transform: scale(1.05);
}

.random-quote-button:active {
  transform: scale(0.95);
}

